
body {
     width: 1200px;
     margin: 8px auto;
}


header{
        border:solid 1px #D7EBFF ; 
        overflow: hidden; 
        height: 150px;
        background: linear-gradient(#D7EBFF, #697D91);
       
}


#logo{
    float: left;
    
}


h1{
    float: left;
    font-family: 'MedioRegular', Verdana,sans-serif;
    font-size: 80px;
    -webkit-text-stroke: 7.6px #AD1909;
    -webkit-text-fill-color: black;
    text-shadow: -4px 4px 4px #990000,
     1px -1px 1px #990000,
     -1px 1px 1px #990000,
     1px 1px 1px #990000;
     color: transparent;
}

h2{
    font-size: 14px;
    font-family: 'MedioRegular',Verdana,sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
     font-variant: small-caps;
}

h3{
    font-size: 10px;
    font-family:'Medio-webfont',Arial,sans-serif;
    color: #808080;
     font-variant: small-caps;
}


.Parrafo>p{
    font-family: 'Medio-webfont',Arial,sans-serif;
    text-align:justify;
    color: grey;
    font-size: 16px;
    
}

a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

a:hover{
    color: red;
    text-decoration: underline;
}
nav{
    background-color: #808080;
    text-align: center;
    
}


#columnaPrimera,#columnaSegunda,#columnaTercera,#columnaCuarta,#columnaQuinta,#columnaSexta{
    margin-top: 10px;
    border: solid 1px;
    float: left;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 30px;
    
}


#primera{
    margin-top: 10px;
 
  
}


#segunda{
    margin-top: 80px;
 
    
}



#contenido{
      overflow: hidden; 
      height: 1%;
      
     
}


section>div>img{
    width:350px;
    height:250px;
    border-radius: 4px;
    -moz-border-radius : 4px ;
    -webkit-border-radius : 4px ;
    
}


footer{
   
    border: solid 1px #808080 ;
    margin-top: 25px;
    overflow: hidden; 
    height: 100px;
    background: url(../img/top-left.png) top left no-repeat,
                url(../img/top-right.png) top right no-repeat,
                url(../img/bottom-right.png) bottom right no-repeat,
                url(../img/bottom-left.png) bottom left no-repeat;
}


#final{
    background-color: #9c9898;
  
    
}

h4{
    font-size: 22px;
    font-family: 'MedioRegular',verdana,sans-serif;
    float: left;
    font-variant: small-caps;
  
}

h4>span{
    font-size: 32px;
    text-shadow: 2px 2px 4px #999;
   
}

#cabecera{
   
    height: 1%;
    border-style: solid;
    border-image: url(../img/decorado.jpg)30 round;
    border-width: 30px; 
    overflow: hidden; 
   
}

#cabecera>img{
    float: left;
    height: 200px;
    width: 300px;
    margin-left: 10px;
    margin-top: 15px;
    box-shadow: 2px 2px 12px black; 
    border: 3px solid white;
}

#cabecera>p{
    color: grey;
    
    
   
}

#cabecera2{
    float: right;
    margin-right: 200px;
    width: 400px;
   
    height: 300px;
}


#logo1{
   
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    opacity: 0.2;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
     transform: rotate(5deg);
}


.nombre{
    float: right;
    margin-right: 20px;
}


.nombre , span{
    text-align: right;
    font-family: 'MedioRegular',Arial;
   
}

.nombre>span{
    font-family: 'MedioRegular',Verdana;
    font-size: 14px;
}

.Mayuscula                           {
    font-size: 20px;
    font-family: 'MedioRegular',Arial;
   font-weight: bold; 
}
